<div class="example-container mat-elevation-z8">
  <div class="button-row">
    <button mat-raised-button color="primary" (click)="downloadButtonPush()">Descargar csv</button>
  </div>
  <mat-table #table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="dni">
      <mat-header-cell *matHeaderCellDef class="ElementCenter"> <b>DNI</b> </mat-header-cell>
      <mat-cell *matCellDef="let element"  class="ElementCenter"> {{element.dni}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="salary">
      <mat-header-cell *matHeaderCellDef class="ElementCenter"> <b>Salario</b> </mat-header-cell>
      <mat-cell *matCellDef="let element" class="ElementCenter"> S/. {{element.salary}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef class="ElementCenter"> <b>Tipo de trabajador</b> </mat-header-cell>
      <mat-cell *matCellDef="let element" class="ElementCenter"> <div id="circle" [ngStyle]="{'background' : typeEmployee(element.type)}"></div> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [length]="dataSource.data.length"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>